.homepage {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  p {
    width: 900px;
    padding: 10px;
    line-height: 20px;
    color: #80bd01;
    font-size: 14px;
    word-break: break-word;
    background-color: #eee;
    border-radius: 3px 3px 0 0;
    margin-bottom: 0;
    span {
      padding: 0 5px;
      color: #ccc;
    }
    .toHome {
      color: #80bd01;
      font-size: 14px;
    }
    .toHome:hover {
      text-decoration: underline;
    }
  }
  ul {
    width: 900px;
    margin: 0;
    padding: 0;
    padding: 10px;
    border-top: 1px solid #e5e5e5;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    font-size: 14px;
    word-break: break-word;
    color: #333;
    line-height: 2em;

    li {
      display: flex;
      width: 100%;
      line-height: 40px;
      color: #ababab;
      font-size: 14px;
      word-break: break-word;
      .fa-github {
        width: 16px;
        height: 16px;
        background-image: url("http://pcgnine5c.bkt.clouddn.com/github%28gray%29.png");
        margin-top: 12px;
        margin-right: 10px;
      }
      .fa-github:hover {
        background-image: url("http://pcgnine5c.bkt.clouddn.com/github%20%28black%29.png");
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      a {
        color: #778087;
        cursor: pointer;
        font-size: 14px;
        word-break: break-word;
      }
    }
    li:nth-child(2) {
      color: #333;
    }
  }
}
.create-topics {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  h3 {
    width: 900px;
    padding: 10px;
    line-height: 20px;
    font-size: 14px;
    word-break: break-word;
    background-color: #eee;
    border-radius: 3px 3px 0 0;
    margin-bottom: 0;
  }
  ul {
    width: 900px;
    margin: 0;
    padding: 0;
    padding: 10px;
    border-top: 1px solid #e5e5e5;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    font-size: 14px;
    word-break: break-word;
    color: #333;
    line-height: 2em;
    li {
      display: flex;
      font-size: 14px;
      align-items: center;
      align-items: center;
      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
      .show-num {
        margin-right: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #08c;
        font-size: 16px;
        line-height: 30px;
      }
      .show-num:hover {
        text-decoration: underline;
        color: #005580;
      }
      a {
        color: #666;
        font-size: 14px;
      }
      a:hover {
        color: #385f8a;
      }
      .box1 {
        width: 60px;
      }
    }
  }
}
