.isNoreadMessage{
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    div {
      width: 900px;
      padding: 10px;
      line-height: 20px;
      color: #80bd01;
      font-size: 14px;
      word-break: break-word;
      background-color: #eee;
      border-radius: 3px 3px 0 0;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      span {
        padding: 0 5px;
        color: #ccc;
      }
      .toHome {
        color: #80bd01;
        font-size: 14px;
      }
      .toHome:hover {
        text-decoration: underline;
      }
     
    }
}
.isReadMessage{
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    p {
      width: 900px;
      padding: 10px;
      line-height: 20px;
      color: #80bd01;
      font-size: 14px;
      word-break: break-word;
      background-color: #eee;
      border-radius: 3px 3px 0 0;
      margin-bottom: 0;
      span {
        padding: 0 5px;
        color: #000;
      }
  
     
    }
}